<!DOCTYPE html>
<html lang="en">
  <%= partial "partials/layout_head", locals: {title: "#{current_page.data.title} - Lucky"} %>
  <body class="light-body">
    <main role="main">
      <%= partial "partials/header" %>

      <section class="page-intro">
        <div class="page-intro__container">
          <div class="page-intro__left">
            <h1 class="page-intro__heading">
              <a href="/guides/index.html">Guides</a>
              <%= image_tag "intro-arrow.svg", class: "page-intro__arrow" %>
              <%= current_page.data.title %>
            </h1>

            <p class="page-intro__text">
              <%= current_page.data.intro %>
            </p>
          </div>

          <div class="intro-card">
            <%= table_of_contents(current_page) %>

            <% if next_guide_page %>
              <ul>
                <li>
                  <a href="/<%= next_guide_page.path %>" class="intro-card__link intro-card__link--prominent">
                    Next: <%= next_guide_page.data.title %>
                  </a>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </section>

      <section class="text-container text-container--with-table-of-contents">
        <%= yield %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
