<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lucky Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag "main" %>
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body class="light-body">
    <main role="main">
      <header class="header">
        <div class="header__container">
          <a href="/">
            <%= image_tag "logo.svg", class: "header__logo" %>
          </a>

          <ul class="header-nav">
            <li>
              <a href="#">Why Lucky?</a>
            </li>
            <li>
              <a href="/guides/installing.html">Guides</a>
            </li>
            <li>
              <a href="#">GitHub</a>
            </li>
          </ul>
        </div>
      </header>

      <section class="page-intro">
        <div class="page-intro__container">
          <div class="page-intro__left">
            <h1 class="page-intro__heading">
              <a href="/guides/installing.html">Guides</a>
              <%= image_tag "intro-arrow.svg", class: "page-intro__arrow" %>
              <%= current_page.data.title %>
            </h1>

            <p class="page-intro__text">
              <%= current_page.data.intro %>
            </p>
          </div>

          <div class="intro-card">
            <%= table_of_contents(current_page) %>

            <ul>
              <li>
                <a href="#" class="intro-card__link intro-card__link--prominent">Next: Rendering HTML Pages</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="text-container">
        <%= yield %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
