<!DOCTYPE html>
<html lang="en">
  <%= partial "partials/layout_head", locals: {title: "#{current_page.data.title} | Lucky"} %>
  <body class="light-body">
    <main role="main">
      <%= partial "partials/header" %>

      <%= partial "partials/page-intro", locals: {
        heading: current_page.data.title,
        card: partial("partials/guide_table_of_contents") } %>

      <section class="text-container text-container--with-table-of-contents">
        <%= yield %>

        <% if next_guide_page %>
          <a href="/<%= next_guide_page.path %>" class="intro-card__link intro-card__link--prominent">
            Next: <%= next_guide_page.data.title %>
          </a>
        <% end %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
    <%= partial "partials/docsearch"%>
  </body>
</html>
