<!DOCTYPE html>
<html lang="en">
  <%= partial "partials/layout_head", locals: {title: "Lucky"} %>
  <body class="light-body">
    <main role="main">
      <%= partial "partials/header" %>

      <section class="text-container">
        <%= yield %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
    <%= partial "partials/docsearch"%>
  </body>
</html>
