<!DOCTYPE html>
<html lang="en">
  <%= partial "partials/layout_head", locals: {title: "#{current_page.data.title} | Lucky"} %>
  <body class="light-body">
    <main role="main">
      <%= partial "partials/header" %>

      <%= partial "partials/page-intro", locals: {
        heading: current_page.data.title,
        text: current_page.data.intro,
        card: table_of_contents(current_page) } %>

      <section class="text-container text-container--with-table-of-contents">
        <%= yield %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
